<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Q_Admin>
            <version>1.0.0</version>
        </Q_Admin>
    </modules>

    <global>
        <helpers>
            <q_admin>
                <class>Q_Admin_Helper</class>
            </q_admin>
        </helpers>

        <models>
            <q_admin>
                <class>Q_Admin_Model</class>
                <resourceModel>q_admin_resource</resourceModel>
            </q_admin>
        </models>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <q_admin_admin_predispatch>
                        <class>Q_Admin_Model_Observer</class>
                        <method>setTheme</method>
                    </q_admin_admin_predispatch>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </global>

    <default>
        <q_admin>
            <config>
                <theme>go</theme>
            </config>
        </q_admin>
    </default>
</config>